.dart_tool
.packages
.dart_tool/package_config.json
build/
pubspec.lock
.idea/
.vscode/
*.iml
*.log
*.tmp
*.swp
*.swo
*.DS_Store
*.class
*.jar
*.war
*.ear
*.apk
*.ap_k
*.ipa
*.dSYM
*.exe
*.dll
*.so
*.dylib

# Firebase credentials
# IMPORTANT: Never commit these files to a public repository!
google-services.json
GoogleService-Info.plist
lib/firebase_options.dart